/* app css stylesheet */
#card {
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
}
#card .panel {
  min-height: 250px;
}
#card .panel-body {
  padding: 25px;
}
#card figure {
  display: block;
  backface-visibility: hidden;
}
#card .back {
  transform: rotateY( 180deg );
}
#card.flipped {
  transform: rotateY( 180deg );
}
